




*{margin:0;
padding:0;
}



body{
	background: linear-gradient(#c0d6fe, white);
    height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
}


header{
	position: relative;
	height: 150px;
}

header h1{
	
	margin:0;
	padding:.2em;

	text-align:center;
	font-size: 6em;
	font-style:italic;
	color:white;
	background-color:navy;

}

#search {}

.mainNav {
	background-color: #ffffcc;
	border-top: 1px solid;
	border-right: 1px solid;
	border-color: navy;
	list-style: none;
	text-align: center;
	width: 15%;
}

.mainNav li {
	font-size: 16px;
	position: relative;
	border-bottom: 1px solid;
	padding: 13px 1.03em 10px;
	display: block;
	color: #767676;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mainNav li:hover {
	background-color: #fba89b;
	color: #fff;
}

#subnav li{
	
	display: inline-flex; 
	text-decoration:none;
	list-style: none; 
	font-size: 1em;	color: navy;
	margin-right: 1em;
}

#content{
	
	position:fixed;
	
	margin-left: 20%;
	margin-right: 25%;
	top: 10em;
	background-color:white;
	border-radius: 2em;
	border:thick,outset,navy, ;
	border-style:double;
	height: 60%;
	width: 60%;
	padding: 2em;
	overflow: auto;
	
}




button{
	
  	padding:.5em;
  	background-color: #dcdcdc;
  	border: .5em solid #666;
  	color:#000;
  	text-decoration:none;
  	margin-top: 1em;
	width: 12em;
	height:4em;
}

button:hover{background-color: navy;color:white}

ul {
	overflow: auto;
  	list-style-type: none;
  	padding: 0;
  	width:auto; 	
}
li:last-child {
  border: none;
}
li{
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  	border-bottom: 1px solid #ccc;
  	text-decoration: none;
  	color: #000;
  	display: block;
  	width: auto;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
li:hover {
  font-size: 30px;
  background: grey;
  cursor: crosshair; 
  
}
form{	
	padding-top: 2em;
	width: 10em;
	height: 10em;	
	
}
label{
	
	display:block;
	width:15em;
	font-size: 1.5em;
}
input {
  display: block;
  padding: 5px;
  background-color: #e8eee9 ;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 5px;
  margin: 5px 0 10px 0;
  font-size: 15px;
  /* border-color: rgba(0, 0, 0, 0.03); */
 }
input:focus {
   /* border:2px solid #ffa54d ; */
   background-color: #ffff99 ;
   border-radius: 5px;
   outline:none
 }
 .menu{position:relative;}
 
 #customer-list{width: 30%; position:abosulte; top:8em}
 
 .custClass{
	
	padding-top:1em;
	font-size: 2em;
	
	}

#accounts{width: 30%; position:absolute; top:8em}

#submitTransfer{margin-top: 8.5em}



.accClass {padding-top: 1em; font-size: 2em}
#account input
{
	display: inline;
}
#account button{
	height: 2.5em;

}

#transferFromAccount{
	
	font-size: 1.5em;
}

#errorMessage {
	position: fixed;
	left: 25%;
	right: 50%;
	bottom: 20%;
	z-index: 1000;
	width: 50%;
	height:5%;
	background-color: red;
	font-size: 1.5em;
	border: 1em;
	border-color: yellow
}

#error {
	z-index: 10000;
	float:left;
	
}

#closeError {
	position:absolute;
	bottom:0;
	right:0;
	height:100%;
	width:5%;

	
}

#successMessage {
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	bottom: 20%;
	z-index: 1000;
	width: 25%;
	height: 10%;
	background-color: green;
	font-size: 2em;
	border: 1em;
	border-color: yellow
}

#success {
	z-index: 10000
}


