<<<<<<< HEAD
header{ }
button{
=======
*{margin:0;
padding:0;
}

body{
	background-color:navy;
}

header h1{
	margin:0;
	padding:.2em;

	text-align:center;
	font-size: 6em;
	font-style:italic;
	background-color:white;

}


#subnav li{
	
	display: inline-flex; 
	list-style: none; 
	font-size: 1em;	color: navy;
	margin-right: -1em;
}

#content{
	
	position:fixed;
	
	margin-left: 20%;
	margin-right: 25%;
	top: 20%;
	bottom: 20%;
	background-color:white;
	border-radius: 2em;
	border:thick,outset,navy, ;
	border-style:double;
	width: 70em;
	padding: 2em;
	
}


#customer-List{width: 10em}
>>>>>>> origin

  	padding:.5em;
  	background-color: #dcdcdc;
  	border: .5em solid #666;
  	color:#000;
  	text-decoration:none;
}

button:hover{background-color: blue}
.menu{position:relative;}

#customer-List{width: 40%; position:abosulte; top:8em}

.customer ul {
  list-style-type: none;

  
  padding: 0;
  float: left;
}
 
.customer li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
.customer li:last-child {
  border: none;
}
 
.customer li{
  text-decoration: none;
  color: #000;
  display: block;
  width: auto;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.customer li:hover {
  font-size: 30px;
  background: grey;
  cursor: crosshair; 
}

.customer #custClass{position: relative}

#errorMessage {
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	top: 20%;
	z-index: 1000;
	width: 50%;
	background-color: red;
	font-size: 2em;
	border: 1em;
	border-color: yellow
}

#error {
	z-index: 10000
}

#closeError {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0
}

#successMessage {
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	top: 20%;
	z-index: 1000;
	width: 25%;
	height: 10%;
	background-color: green;
	font-size: 2em;
	border: 1em;
	border-color: yellow
}

#success {
	z-index: 10000
}



#errorMessage {
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	top: 20%;
	z-index: 1000;
	width: 50%;
	background-color: red;
	font-size: 2em;
	border: 1em;
	border-color: yellow
}

#error {
	z-index: 10000
}

#closeError {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0
}

#successMessage {
	position: fixed;
	margin-left: 25%;
	margin-right: 25%;
	top: 20%;
	z-index: 1000;
	width: 25%;
	height: 10%;
	background-color: green;
	font-size: 2em;
	border: 1em;
	border-color: yellow
}

#success {
	z-index: 10000
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}